extends layout

block content
  div.container
    a(href='/') << Home
    h1=title
    form(method='POST' action='/products')
      div.form-group
        input(name='name' placeholder='product name...' class='form-control')
      div.form-group
        input(name='rating' class='form-control' placeholder='rate this product (0 - 100)...')
      div.form-group
        button.btn.btn-primary Save

    ul.list-group
      each product in products
        li.list-group-item
          a(href='products/' + product.id) #{product.name}
          if product.rating < 50
            span.badge.badge-low #{product.rating}
          else if product.rating >= 50 && product.rating < 80
            span.badge.badge-med #{product.rating}
          else
            span.badge.badge-hi #{product.rating}
          if product === topRated
            span.badge.badge Top Rated!


    div
      span Rating Key:
      |
      |
      span.badge.badge-low Low
      |
      |
      span.badge.badge-med Medium
      |
      |
      span.badge.badge-hi High
